USE [master]
GO
/****** Object:  Database [TP06]    Script Date: 10/9/2026 08:44:18 ******/
CREATE DATABASE [TP06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06]
GO
/****** Object:  User [alumno]    Script Date: 10/9/2026 08:44:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ahorcado]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ahorcado](
	[Palabra] [varchar](200) NOT NULL,
	[LetrasIngresadas] [varchar](200) NOT NULL,
	[Intentos] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodigoFinal]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigoFinal](
	[Pista1] [varchar](200) NOT NULL,
	[Pista2] [varchar](200) NOT NULL,
	[Pista3] [varchar](200) NOT NULL,
	[CodigoCorrecto] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Ataque] [int] NOT NULL,
	[Defensa] [int] NOT NULL,
	[Tactica] [int] NOT NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Posicion] [varchar](200) NOT NULL,
	[Numero] [int] NOT NULL,
	[Nacionalidad] [varchar](200) NOT NULL,
	[Club] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[NombreDelParticipante] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 10/9/2026 08:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Enunciado] [varchar](200) NOT NULL,
	[OpcionA] [varchar](200) NOT NULL,
	[OpcionB] [varchar](200) NOT NULL,
	[OpcionC] [varchar](200) NOT NULL,
	[OpcionD] [varchar](200) NOT NULL,
	[RespuestaCorrecta] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Preguntas_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO Preguntas
(Enunciado, OpcionA, OpcionB, OpcionC, OpcionD, RespuestaCorrecta)
VALUES
('¿Qué equipo ganó la Champions League 2024?', 'Real Madrid', 'Manchester City', 'Bayern Munich', 'PSG', 'Real Madrid');

INSERT INTO Preguntas
(Enunciado, OpcionA, OpcionB, OpcionC, OpcionD, RespuestaCorrecta)
VALUES
('¿Quién es conocido como La Pulga?', 'Cristiano Ronaldo', 'Messi', 'Mbappé', 'Neymar', 'Messi');

INSERT INTO Preguntas
(Enunciado, OpcionA, OpcionB, OpcionC, OpcionD, RespuestaCorrecta)
VALUES
('¿Qué selección ganó el Mundial 2022?', 'Francia', 'Brasil', 'Argentina', 'España', 'Argentina');









INSERT [dbo].[Jugadores] ([Nombre], [Posicion], [Numero], [Nacionalidad], [Club]) VALUES (N'Messi', N'Delantero', 10, N'Argentina', N'Inter Miami')
INSERT [dbo].[Jugadores] ([Nombre], [Posicion], [Numero], [Nacionalidad], [Club]) VALUES (N'Ronaldo', N'Delantero', 7, N'Portugal', N'Al Nassr')
INSERT [dbo].[Jugadores] ([Nombre], [Posicion], [Numero], [Nacionalidad], [Club]) VALUES (N'Neymar', N'Delantero', 10, N'Brasil', N'Al Hilal')

INSERT INTO CodigoFinal (Pista1, Pista2, Pista3, CodigoCorrecto)
VALUES
('Número que usó Messi en el PSG', 
 'Número que usó Neymar en el Barcelona', 
 'Número de camiseta de Rodrigo De Paul con Argentina en Qatar 2022', 
 30117)

INSERT INTO CodigoFinal (Pista1, Pista2, Pista3, CodigoCorrecto)
VALUES
('Número que usó Cristiano Ronaldo en su primera etapa en el Real Madrid', 
 'Número que usó Mbappé en el PSG', 
 'Número que usó Modric en su primera temporada en el Real Madrid', 
 9719)

INSERT INTO CodigoFinal (Pista1, Pista2, Pista3, CodigoCorrecto)
VALUES
('Número que usó Neymar en el PSG', 
 'Número que usó Messi en el PSG', 
 'Número que usó Mbappé en el Real Madrid durante la temporada 2024/25', 
 10309)








INSERT [dbo].[Ahorcado] ([Palabra], [LetrasIngresadas], [Intentos]) VALUES (N'MESSI', N'', 6)
INSERT [dbo].[Ahorcado] ([Palabra], [LetrasIngresadas], [Intentos]) VALUES (N'MARADONA', N'', 6)
INSERT [dbo].[Ahorcado] ([Palabra], [LetrasIngresadas], [Intentos]) VALUES (N'RIQUELME', N'', 6)
GO
USE [master]
GO
